<!doctype html>
<html ng-app="OptionsApp">
    <head>
        <!-- build:css styles/options.vendor.css -->
        <!-- bower:css -->
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css styles/options.css -->
        <link href="styles/options.css" rel="stylesheet">
        <!-- endbuild -->
    </head>
    <body ng-controller="OptionsCtrl">
        <h1>IssuesViewer For Backlog Options</h1>
        <section>
            <h2>Accounts</h2>
            <ul>
                <li ng-repeat="account in accounts">
                    <a href="" ng-click="changeAccount(account.myself.id)">{{ account.auth.spaceKey }}</a>&nbsp;
                    <a href="" ng-click="removeAccount(account.myself.id)">remove</a>
                </li>
            </ul>
            <h2>Authentication</h2>
            <table class="table table-bordered">
                <tr>
                    <th>Space</th>
                    <td>
                        https://<input type="text" ng-model="auth.spaceKey" size="10"/>.backlog.jp
                    </td>
                </tr>
                <tr>
                    <th>API Key</th>
                    <td>
                        <input type="text" ng-model="auth.apiKey" size="80" />&nbsp;
                        <a href="http://www.backlog.jp/help/usersguide/personal-settings/userguide2378.html" target="_blank">About API Key</a>
                    </td>
                </tr>
            </table>
            <button class="btn btn-sm btn-default" ng-click="saveAuth()">Save</button>&nbsp;<span>{{ messages.saveAuth }}</span>
        </section>
        <hr />
        <section>
            <h2>Filter</h2>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Projects</th>
                </tr>
                <tr>
                    <td>
                        <span ng-repeat="project in projects">
                            <label for="{{ project.projectKey }}">{{ project.name }}</label>
                            <input type="checkbox" id="{{ project.projectKey }}"
                                   ng-value="project.id"
                                   ng-checked="conditions.projectIds.indexOf(project.id) > -1"
                                   ng-click="toggleProjects(project.id)" />
                        </span>
                        <p><a href="#" ng-show="myself.id" ng-click="getProjects()">Update Projects</a></p>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Conditions</th>
                </tr>
                <tr>
                    <td>
                        <label for="onlyMyIssues">Only my issues</label>
                        <input id="onlyMyIssues" type="checkbox" ng-model="conditions.onlyMyIssues" ng-value="1" ng-checked="conditions.onlyMyIssues" />
                        <label for="withClosed">With closed issues</label>
                        <input id="withClosed" type="checkbox" ng-model="conditions.withClosed" ng-value="1" ng-checked="conditions.withClosed" />
                        <label for="showDaysForClosed">Show closed issues</label>
                        <input id="showDaysForClosed" type="text" ng-model="conditions.showDaysForClosed" size="1" />days
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-sm btn-default" ng-click="saveConditions()">Save</button>&nbsp;<span>{{ messages.saveConditions }}</span>
        </section>
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/underscore.string/dist/underscore.string.min.js"></script>
        <script src="bower_components/moment/min/moment.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/options.js -->
        <script src="scripts/globals.js"></script>
        <script src="scripts/options.js"></script>
        <script src="scripts/services/backlog.js"></script>
        <script src="scripts/controllers/options.js"></script>
        <!-- endbuild -->
    </body>
</html>
